<% require 'erb' %>
<% require_relative 'order' %>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="index.css" />
        <script src="/js/reply.js"></script>
		<title>テキスト掲示板</title>
    </head>
    <body>
        <h1>テキスト掲示板</h1>
        <hr>
    <form action="write" method="post">
        <table>
            <tr>
                <th class="write_form">お名前：</th>
                <td><input type="text" name="name" size="30" value="" /></td>
            </tr>
            <tr>
                <th class="write_form">メールアドレス：</th>    
                <td><input type="email" name="email" size="30" value="" /></td>
            </tr>
            <tr>
                <th class="write_form">タイトル：</th>    
                <td><input type="text" id="title" name="title" size="30" value="" /></td>
            </tr>
            <tr>
            <th class="write_form">本文：</th>
                <td><textarea id="textarea" name="textarea" rows="5" cols="50" value="" ></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="投稿"/></td>
            </tr>
       	</table>
        <% hash = Order.desc_order %>
        <% hash.each do |key, value| %>
        <table>
            <tr>
                <td class="contribution_name"><%= value['title'].force_encoding("UTF-8")%></td>
                <td>投稿者：</td><td class="contribution_title"><%= value['name'].force_encoding("UTF-8")%></td>				<td><%=key%></td>
				<td><a href="javascript:void(0)"onClick="reply('<%= value['title'].force_encoding("UTF-8") %>', '<%=value['textarea'].force_encoding("UTF-8") %>');">[返信]</a></td>
            </tr>
            <tr>
                <td><%= value['textarea'].force_encoding("UTF-8")%></td>
            </tr>
            <hr>
        </table>
        <% end %>
    </form>
